.form-container {
    width: 425px;
    height: 100%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.brand-name {
  color: #9D02C0;
  font-size: 1.5rem;
  font-weight: 600;
}

.subheading {
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(to right, #9B22F0, #59148A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 10px;
  }

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  text-align: center;
}

.form-container p {
  color: black;
  font-size: 1.1rem;
  text-align: center;
  margin: 30px;
  margin-top: 15px;
}