.auth-page-body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to top, #A581DF, #A38CF4, #D6D0FF, #EEF0F6);
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 8rem 2rem;
    overflow: hidden;
}

.auth-page-left, .auth-page-right {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

#stats-icon {
    max-width: 390px;
    margin-bottom: 5.5rem;
    align-self: center;
}

.auth-page-left h2, p {
    margin-top: 0;
    color: white;
    margin-left: 5rem;
}

.auth-page-left h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 650;
}

.auth-page-left p {
    font-size: 1.45rem;
    max-width: 65%;
}

.auth-page-right {
    align-items: center;
}

hr {
    color: white;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.249);
}