.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.input-container label {
    margin-right: auto;
}

.input-container label {
    font-size: 18px;
}

.input-empty {
    background-color: transparent;
    color: #9D9D9D;
    border: 2px solid #9D9D9D;
    border-radius: 8px;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    font-size: 18px;
}

.input-filled {
    background-color: transparent;
    color: black;
    border: 2px solid #9D9D9D;
    border-radius: 8px;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    font-size: 18px;
}

.input-field {
    position: relative;
    display: inline-block;
    width: 100%;
}
  
.input-field input {
    padding-right: 2rem; /* leave space for reveal button */
}

.input-field .reveal-button {
    position: absolute;
    right: 0;
    top: 2px;
    transform: translateX(5%); /* start off hidden to the right */
    background-color: #9B22F0;
    border: none;
    color: white;
    padding: 0.82rem 0.75rem;
    margin-right: 0.099rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.input-field .reveal-button.show {
    transform: translateX(0); /* slide in */
    opacity: 1;
}
  
.input-field .reveal-button svg {
    width: 20px;
    height: 20px;
    color: white;
}

.input-container input:focus {
    outline: none;
    border: 2px solid black;
}