.submit-button {
    background-color: #9B22F0;
    border-radius: 8px;
    height: 50px;
    width: 100%;

    font-size: 18px;
    color: white;
    font-weight: 650;
}

.submit-button:hover {
    cursor: pointer;
}